--- 
title: Christian's blog posts 
meta_description: My blog posts about anything and everything 
---
{% extends 'layouts/simple.njk' %}

{% block main %}
    <main>
        <h1>The Blog</h1>
        <p>
            My literary effusions. Mostly, but not exclusively, about web technology and geeky things. Can also contain health topics and rants.
            Some of those posts are only in German. Ye be warned!
        </p>

        {% for item in collections.posts  %}
            {% if loop.index < 4 %}
                {% include 'partials/post-teaser.njk' %}
            {% else %}
                {% include 'partials/post-teaser-excerpt.njk' %}
            {% endif %}
        {% endfor %}
    </main>
{% endblock %}
