:root {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --text-dark: #757575;
    --text-green: #6dc843;
    --text-green-light: #92fb61;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bg-tertiary: #111131;
    --transition-speed: 600ms;
}
