<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Christian Sharaf Frontend Engineer | {{ title }}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">		
		<link href='/css/styles.css' rel="stylesheet" />
	</head>
	
	<body>
		<header>
		</header>
		<main>
			<div class="portrait"></div>
			{{ content | safe }}
		</main>
		<footer>
			<div>Created by Christian Sharaf</div>
		</footer>
	</body>
	<body>
</html>
