<section class="teaser">
    <header class="teaser__header">
        <h2><a href="{{ item.url }}">{{ item.data.title | safe }}</a></h2>
        <p class="teaser__header-publishingdate">{{ item.data.publishdate | publishingdate | safe }}</p>
    </header>

    <ul class="tags">
        {% for tag in item.data.tags %}
            <li><a href="/tags/{{ tag }}" class="tag">#{{ tag }}</a></li>
        {% endfor %}
    </ul>

    <div class="teaser__content">
        {{ item.templateContent | teaser | safe }}
    </div>
   
    <a href="{{ item.url }}" class="teaser__link">read more</a>
</section>
