footer {
    text-align: center;
    
    &::before {
        background-color: var(--text-green);
        content: '';
        display: block;
        height: 1px;
        margin-bottom: 1rem;
    }
}
