.rwd-table {
    background: var(--bg-primary);
    border-radius: .5em;
    width: 100%;
    overflow: hidden;
   
    th {
        display: none;
    }
    
    td {
        display: block; 

        &:before {
            content: attr(data-th)": ";
            display: inline-block;
            font-weight: bold;
            
            @media (min-width: $breakpoint-table) {
                display: none;
            }
        }
    }
    
    th, 
    td {
        margin: .5em 1em;
        text-align: left;
        
        @media (min-width: $breakpoint-table) {
            display: table-cell;
            padding: .5em;
        }
    }
    
    th,
    td:before {
        color: var(--text-green);
    }      
}
