*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
    background-color: var(--bg-tertiary);
    color: var(--text-primary);
    font-family: Orbitron, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header,
main,
footer {
    margin: 1rem;
}

footer {
    margin-bottom: 5.5rem;
}

figure {
    margin: 1em;
    text-align: center;
}

img {
    max-width: 100%;
}
img[src*="#avatar"] {
    float: left;
    margin-right: 2em;
    border-radius: 50%;
    shape-outside: circle(57.16% at 70px 55px);
}

ul {
    &.no-listitems {
        list-style-type: none;
        padding: 0;

        li {
            &.telescope::before {
                content: "🔭";
                margin-right: 0.5em;
            }
            &.plant::before {
                content: "🌱";
                margin-right: 0.5em;
            }
            &.van::before {
                content: "🚐";
                margin-right: 0.5em;
            }
            &.lightbulb::before {
                content: "💡";
                margin-right: 0.5em;
            }
            &.emo::before {
                content: "👤";
                margin-right: 0.5em;
            }
            &.dancing::before {
                content: "👯";
                margin-right: 0.5em;
            }
            &.goal::before {
                content: "🥅";
                margin-right: 0.5em;
            }
        }
    }
}

.knowledge {
    svg {
        color: var(--text-primary);
        height: 2rem;
        transition: 400ms;

        &:hover {
            color: var(--text-green-light);
            filter: grayscale(0%) opacity(1);
        }
    }
}

@media only screen and (min-width: 600px) {
    body {
        letter-spacing: 0.05em;
    }

    header,
    main,
    footer {
        margin: 1rem 4rem 1rem 8rem;
    }
}