:root {
    font-size: 16px;
    font-family: 'Orbitron';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bg-tertiary: #111131;
    --transition-speed: 600ms;
}

html,
body {
    background-color: var(--bg-tertiary);
    color: var(--text-primary);
    font-family: Orbitron, sans-serif;
    margin: 0;
    padding: 0;
}

header,
main,
footer {
    margin: 1rem;
}

footer {
    margin-bottom: 7rem;
}

figure {
    margin: 1em;
    text-align: center;
}

img {
    max-width: 100%;
}

@media only screen and (min-width: 600px) {
    header,
    main,
    footer {
        margin: 1rem 4rem 1rem 8rem;
    }
}

.portrait {
    background-image: url("/src/img/avatar.png");
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #000;
    border-radius: 50%;
    height: 100px;
    margin: 0 auto;
    width: 100px;
}

.tags {
    list-style: none;
    padding: 0;
    &::before {
        content: 'Taglist';
        display: block;
        float: left;
    }
    &::after {
        content: '';
        clear: both;
        display: table;
    }
    li {
        float: left;
        padding: 0 10px;
    }
}

.knowledge {
    svg {
        color: var(--text-primary);
        height: 2rem;
        transition: 400ms;
        
        &:hover {
            color: #6dc843;
            filter: grayscale(0%) opacity(1);
        }
    }
}
