/* Flyout Navigation on the left side */
.navbar {
    background-color: var(--bg-primary);
    overflow: hidden;
    position: fixed;
    transition: width 600ms ease;
}

.navbar-nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    width: 100%;
    
    &:last-child {
        margin-top: auto;
    }
}

.nav-link {
    align-items: center;
    color: var(--text-primary);
    display: flex;
    filter: grayscale(100%) opacity(0.7);
    height: 5rem;
    text-decoration: none;
    transition: var(--transition-speed);

    &:hover {
        background: var(--bg-secondary);
        color: var(--text-secondary);
        filter: grayscale(0%) opacity(1);
    }

    svg {
        margin: 0 1.5rem;
        min-width: 2rem;
        width: 2rem;
    }
}

.link-text {
    display: none;
}

.logo {
    background: var(--bg-secondary);
    color: var(--text-secondary);
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 0.3ch;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    .logo-text {
        display: inline;
        left: -999px;
        margin-left: 1rem;
        position: absolute;
        transition: var(--transition-speed);
    }

    img {
        border-radius: 50%;
        height: 5rem;
        transform: rotate(0deg);
        transition: var(--transition-speed);
    }
}

.navbar:hover .logo img {
    transform: rotate(-360deg);
}

.nav-icon-primary {
    color: #92fb61;
}

.nav-icon-secondary {
    color: #6dc843;
}

.nav-icon-primary,
.nav-icon-secondary {
    transition: var(--transition-speed);
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        height: 5rem;
        width: 100vw;
    }
    
    .logo {
        display: none;
    }
    
    .navbar-nav {
        flex-direction: row;
    }
    
    .nav-link {
        justify-content: center;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        height: 100vh;
        top: 0;
        width: 5.2rem;
        
        &:hover {
            width: 17.2rem;
            
            .link-text {
                display: inline;
            }
            
            .logo-text {
                left: 0px;
            }
            
            .logo img {
                margin-left: 12rem;
            }
        }
    }
}
