/* Flyout Navigation on the left side */
.main-navigation {
    background-color: var(--bg-primary);
    position: fixed;
    transition: width 600ms ease;
    box-sizing: border-box;
    bottom: 0;
    height: 4rem;
    width: 100vw;
}

.menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
        width: 100%;    
    }

    &__logo {
        display: none;
    }

    &__link {
        align-items: center;
        color: var(--text-primary);
        display: flex;
        filter: grayscale(100%) opacity(0.7);
        height: 5rem;
        justify-content: center;
        text-decoration: none;
        transition: var(--transition-speed);

        &:hover {
            background: var(--bg-secondary);
            color: var(--text-secondary);
            filter: grayscale(0%) opacity(1);
        }

        .link-text {
            display: none;
        }
    }
}


@media only screen and (min-width: 600px) {
    /* Navigation */
    .main-navigation {
        height: 100vh;
        overflow: hidden;
        top: 0;
        width: 5.2rem;
        
        &:hover {
            width: 17.2rem;
            
            .link-text {
                display: inline;
            }
            
            .menu__logo-text {
                left: 0px;
            }
            
            .menu__logo img {
                margin-left: 12rem;
            }
        }
    }

    .menu {
        flex-direction: column;

        &:hover &__logo img {
            transform: rotate(-360deg);
        }

        &__item {
            white-space: nowrap;

            &:last-child {
                margin-top: auto;
            }
        }

        &__logo {
            background: var(--bg-secondary);
            color: var(--text-secondary);
            display: block;
            font-weight: bold;
            font-size: 1.25rem;
            letter-spacing: 0.3ch;
            margin-bottom: 1rem;
            text-align: center;
            text-transform: uppercase;
            width: 100%;

            &-text {
                display: inline;
                left: -999px;
                margin-left: 1rem;
                position: absolute;
                transition: var(--transition-speed);
            }

            img {
                border-radius: 50%;
                height: 5rem;
                transform: rotate(0deg);
                transition: var(--transition-speed);
            }
        }

        &__link {
            justify-content: initial;
        } 
    }

    .link__icon {
        min-width: 2rem; //needed because of transition
        width: 2rem;
    }    
}


@media only screen and (max-width: 360px) {   
    .menu {
        overflow: auto;

        &__item {
            height: 100%;
        }

        &__link {
            height:100%;

        }

        .link__icon {
            margin: 0 1rem;
        }
    }
}
