/* Flyout Navigation on the left side */
.navbar {
    background-color: var(--bg-primary);
    position: fixed;
    transition: width 600ms ease;
    box-sizing: border-box;
    bottom: 0;
    height: 4rem;
    width: 100vw;
}

.navbar-nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    width: 100%;    
}

.nav-link {
    align-items: center;
    color: var(--text-primary);
    display: flex;
    filter: grayscale(100%) opacity(0.7);
    height: 5rem;
    justify-content: center;
    text-decoration: none;
    transition: var(--transition-speed);

    &:hover {
        background: var(--bg-secondary);
        color: var(--text-secondary);
        filter: grayscale(0%) opacity(1);
    }

    svg {
        margin: 0 1.5rem;
        width: 1.5rem;
    }
}

.link-text {
    display: none;
}

.logo {
    display: none;
}

.nav-icon-primary {
    color: var(--text-green-light);
}

.nav-icon-secondary {
    color: var(--text-green);
}

.nav-icon-primary,
.nav-icon-secondary {
    transition: var(--transition-speed);
}
