$enlighten-value: 5%;
$gradient-start-color: #111131;
$gradient-middle-color: #1e1e57;
$gradient-stop-color: #113111;
$gradient-start-color-light: lighten($gradient-start-color, $enlighten-value);
$gradient-middle-color-light: lighten($gradient-middle-color, $enlighten-value);
$gradient-stop-color-light: lighten($gradient-stop-color, $enlighten-value);

.teaser {
    border-radius: 5px;
    background-color: var(--bg-tertiary);
    background: linear-gradient(90deg, $gradient-start-color 0%, $gradient-middle-color 53%, $gradient-stop-color 96%);
    margin-bottom: 1em;
    padding: 0.5em;
    display: flow-root;

    &:hover {
        background: linear-gradient(90deg, $gradient-start-color-light 0%, $gradient-middle-color-light 53%, $gradient-stop-color-light 96%);
    }

    .teaser-link {
        float: right;
    }
}