h1, 
h2 {
    &::after {
        background-color: var(--text-green);
        content: '';
        display: block;
        height: 1px;
        margin-top: 1rem;
    }
}

a {
    color: var(--text-green);

    &:hover {
        color: var(--text-green-light);
    }
}

pre {
    background-color: #000;
    color: var(--text-green);
    font-family: 'Courier', monospace;
    padding: 0.5em;
    overflow-x: auto;
}

.hidden {
    display: none;
}

.centered {
    text-align: center;
}

