@media only screen and (max-width: 360px) {   
    .navbar-nav {
        overflow: auto;
    }

    .nav-item {
        height: 100%;
    }

    .nav-link {
        height:100%;

        svg {
            margin: 0 1rem;
        }
    }

}
