{% extends "base.njk" %}
{% set section = 'blog' %}

{% block main %}
    <main>
        <h1>{{ title }}</h1>
        <ul class="tags">
            {% for tag in tags -%}
                <li><a href="/tags/{{ tag }}" class="tag">#{{ tag }}</a></li>
            {% endfor -%}
        </ul>

        {{ content | safe }}
    </main>    
{% endblock main %}
